<section class="block container">
    <header class="block__header">
        <h2>Host on the cloud to keep growing</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, voluptatem.</p>
    </header>
    <article class="grid grid--cols2 feature">
        <div class="feature__content">
            <!-- icon start -->
            <span class="icon-container">
                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51 51"
                    class="icon icon--primary">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: #blue;
                            }

                            .cls-2 {
                                fill: #fff;
                            }
                        </style>
                    </defs>
                    <circle class="cls-1" cx="25.5" cy="25.5" r="25.5" />
                    <rect class="cls-2" x="24.4" y="27.9" width="1.6" height="15.24" rx="0.8"
                        transform="matrix(0.78, -0.63, 0.63, 0.78, -21.26, 15.39)" />
                    <rect class="cls-2" x="33.3" y="27.9" width="1.6" height="15.24" rx="0.8"
                        transform="translate(24 -21.9) rotate(37.3)" />
                </svg>
            </span>
            <!-- icon ends -->
            <h3 class="feature__heading">Super Easy</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A nobis officia veritatis officiis vitae sequi
                cumque velit doloremque, expedita excepturi!</p>
            <a href="" class="link-arrow">Learn More</a>
        </div>

        <picture>
            <source type="image/webp" srcset="images/easy.webp 1x, images/easy@2x.webp 2x" />
            <source type="image/jpg" srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x" />
            <img class="feature__image" src="images/easy@2x.jpg" alt="">
        </picture>
    </article>

    <article class="grid grid--cols2 feature">
        <div class="feature__content">
            <!-- icon start -->
            <span class="icon-container">
                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51 51"
                    class="icon icon--primary">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: #blue;
                            }

                            .cls-2 {
                                fill: #fff;
                            }
                        </style>
                    </defs>
                    <circle class="cls-1" cx="25.5" cy="25.5" r="25.5" />
                    <rect class="cls-2" x="24.4" y="27.9" width="1.6" height="15.24" rx="0.8"
                        transform="matrix(0.78, -0.63, 0.63, 0.78, -21.26, 15.39)" />
                    <rect class="cls-2" x="33.3" y="27.9" width="1.6" height="15.24" rx="0.8"
                        transform="translate(24 -21.9) rotate(37.3)" />
                </svg>
            </span>
            <!-- icon ends -->
            <h3 class="feature__heading">Super Easy</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A nobis officia veritatis officiis vitae sequi
                cumque velit doloremque, expedita excepturi!</p>
            <a href="" class="link-arrow">Learn More</a>
        </div>

        <picture>
            <source type="image/webp" srcset="images/easy.webp 1x, images/easy@2x.webp 2x" />
            <source type="image/jpg" srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x" />
            <img class="feature__image" src="images/easy@2x.jpg" alt="">
        </picture>
    </article>
</section>