    <div class="media">
        <div class="media__image">
            <span class="icon-container">
                <svg class="icon icon--primary"">
        <use xlink:href="images/sprite.svg#snap"></use>
                </svg>
            </span>
        </div>
        <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Update</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum eveniet modi culpa, perferendis cupiditate nobis delectus dignissimos molestias suscipit magnam, vel tempora sapiente</p>
        </div>
    </div>
