    <div class="card testimonial">
        <div class="grid grid--cols2">
            <div class="testimonial__image-container">
                <img src="images/testimonial.jpg" alt="Happy Customer" class="testimonial__image">
                <span class="icon-container testimonial__icon icon-container--accent">
                    <svg class="icon icon-small icon--white"">
        <use xlink:href=" sprite.svg#quotes"></use>
                    </svg>
                </span>
            </div>
            <blockquote class="quote">
                <p class="quote__text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam nulla, id
                    dolores enim consectetur hic praesentium autem ex suscipit cumque.
                </p>
                <footer>
                    <div class="media">
                        <div class="media__image">
                            <span class="icon-container">
                                <svg class="icon icon--primary quote__line">
                                    <use xlink:href="images/sprite.svg#line"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="media__body">
                            <h3 class="media__title quote__author">Precious Iriaevho</h3>
                            <p class="quote__organization">Clickate Digital</p>
                        </div>
                    </div>
                </footer>
            </blockquote>
        </div>
    </div>